/* RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #33475b;
    position: relative;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.container-big {
    width: 80%;
    margin: auto;
}

.container-small {
    width: 70%;
    margin: auto;
}

ul {
    list-style-type: none;
}

.btn {
    display: inline-block;
    border: 1px solid darkorange;
    padding: 15px 20px;
    background-color: darkorange;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.btn:hover {
    text-shadow: 2px 2px 3px black;
}

a {
    color: #33475b;
}

a:hover {
    text-shadow: 2px 2px 3px grey;
}

.chevron {
    padding-left: 5px;
}

.text {
    color: #33475b;
    font-size: 14px;
}

.uppercase-text {
    text-transform: uppercase;
    font-weight: bold;
}

.done-entity {
    height: 14px;
    width: 14px;
    border: 1px solid darkorange;
    background-color: darkorange;
    border-radius: 50%;
    display: inline-block;
    line-height: 14px;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-right: 7px;
}

.text-centered {
    text-align: center;
}

.plus-entity {
    font-size: 30px;
    font-weight: 500;
    vertical-align: middle;
}

.statistic-number {
    font-size: 50px;
    font-weight: 700;
}

/* two col */
.two-col {
    float: left;
    width: 50%;
}

/* three col */
.three-col {
    float: left;
    width: 30%;
}

/* Four col */
.four-col {
    float:left;
    width: 25%;
}

/* HEADER */
.wrapper {
    background-color: #e6e6e6;
    border-bottom: 1px solid black;
    padding: 25px 0;
}

/* Nav Top */
.nav-top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header .menu li {
    display: inline-block;
    padding-left: 20px;
    
}

header .menu li a {
    text-decoration: none;
    padding: 11px 7px;
}

.login {
    border: 1px solid darkorange;
    padding: 11px 7px;
    background-color: white;
    border-radius: 5px;
    color: darkorange;
}

.menu-left {
    line-height: 44px;
}

.menu-right {
    text-align: right;
}

.search-font {
    color: cyan;
}

/* Nav Bottom */
header .logo img {
    width: 15%;
}

.nav-bottom {
    margin-top: 100px;
    padding: 25px;
}

.nav-bottom .menu-right li {
    padding-top: 12px;
}

/* Banner */
.banner {
    background-color: #fef6ef;
    background-image: url("../img/jumbotron.png");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: #adebe4;
    height: 71px;
    width: 30%;
    border-top: 3px solid #354a5d;
    border-bottom: 3px solid #354a5d;
}

/* Text Banner */
.banner-text {
    width: 40%;
    padding-top: 90px;
}

.banner .banner-text h1 {
    font-size: 50px;
}

.banner .banner-text .text {
    padding: 25px 0;
}

.banner-text .text:last-child {
    font-size: 12px;
}

/* MAIN */
/* Main Top */
.main-content-top {
    background-color: #e6e6e6;  
}

.main-top {
    text-align: center;
    padding: 40px 0;
}

.container-big .main-top img {
    height: 160px;
    width: auto;
}
.container-big .main-top .text {
    padding: 20px 0;
}

/* Content Box */
.content-box {
    background-color: white;
    margin-bottom: 40px;
}

.content-box .box-img {
    height: 150px;
}

.content-box .box-img img {
    height: 100%;
    padding: 20px 0;
}

.content-box .col-left {
    text-align: center;
    width: 30%;
    margin: 35px 0;
}

.content-box .col-right {
    width: 70%;
    margin-top: 60px;
}

.content-box p.text {
    width: 60%;
    padding: 30px 0;
}
.content-box .uppercase-text::after {
    content: "______________________________________________________________";
    padding: 0 50px;
}

.content-box .col-right ul li {
    display: inline-block;
}

.content-box li.text{
    padding: 30px 20px 30px 0;
}

/* Content Three Col */
.main-info .container-big{
    width: 100%;
    padding: 10px 0;
}

.main-info .col-left,
.main-info .col-middle,
.main-info .col-right {
    background-color: #ffffff;
    padding: 25px;
}
.main-info .col-middle {
    margin: 0 5%;
}

.main-info .text-centered img {
    height: 150px;
    padding: 10px 0;
}

.main-info .text-centered p.text::after {
    content: "__________________________________________________________";
    display: block;
    padding: 50px 0;
}

.main-info .text-centered h3 {
    font-size: 23px;
    padding: 25px 0;
}

.main-info .text-centered li.text {
    text-align: left;
    padding-left: 10px;
}
.main-info .text-centered ul {
    padding-top: 30px;
    padding-bottom: 50px;
}

.main-content-top {
    padding: 50px 0;
}
/* Middle Section / Main Content Middle */
/* Top Part of Section */ 
.main-content-middle {
    background-image: linear-gradient(to bottom left, #55d1c3, #00a4bb);
    color: white;
}

.main-content-middle h2 {
    font-size: 30px;
    padding: 40px 0;
}

.main-content-middle p {
    padding-bottom: 40px;
}
/* Bottom Part of Section */ 

.statistic-grid .col-left,
.statistic-grid .col-right {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid white;

}

.statistic-grid .col-middle-left{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
    border-left: 1px solid white;

}

.statistic-grid .col-middle-right{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.main-content-middle .container-big .container-small {
    width: 90%;
}

.main-content-middle .statistic-grid img {
    height: 40px;
}

.main-content-middle .statistic-grid .statistic-number {
    font-size: 50px;
    font-weight: 700;
    padding: 10px 0;
}

.main-content-middle p.text {
    color: white;
}

.main-content-middle .grid-top {
    padding-top: 50px;
}

.main-content-middle .grid-bottom {
    padding-bottom: 50px;
}

.grid-bottom .col-left,
.grid-bottom .col-middle-left,
.grid-bottom .col-middle-right,
.grid-bottom .col-right {
    border-bottom: none;
}

/* Main Content Bottom */
/* Container Small - Top Part of Section */
.main-content-bottom {
    padding: 40px 0;
}

.main-content-bottom .container-small .col-left {
    width: 30%;
    padding-left: 5%;
}

.main-content-bottom .container-small .col-right {
    width: 70%;
    padding-left: 60px;
}

.main-content-bottom .container-small .col-right ul li {
    display: inline;
    padding-right: 30px;
    vertical-align: middle;
}

.main-content-bottom .container-small .col-right ul img {
    width: 18%;
}

.main-content-bottom .container-small .col-left .statistic-number {
    margin-bottom: 25px;
}

.main-content-bottom .container-small .col-left li.text {
    padding: 6px 0;
}

/* Container Big - Bottom Part of Section */
.main-content-bottom .container-big {
    padding: 60px 0;
}

.main-content-bottom .container-big .col-left{
    width: 40%;
    padding: 20px;
}

.main-content-bottom .container-big .col-right{
    text-align: right;
    width: 60%;
}

.main-content-bottom .container-big .col-right img {
    height: 300px;
    width: auto;
}

.main-content-bottom .container-big .col-left p.text{
    padding: 30px 0;
}
.main-content-bottom .container-big .col-left p.text:last-child {
    font-size: 12px;
}

/* FOOTER */

footer {
    background-color: #32495b;
    padding: 50px 0;
}

footer li .text {
    display: block;
    text-decoration: none;
    color: #cbd6e2;
    padding: 12px 0;
}

/* Top Row */
footer .top-row h5 {
    color: white;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 800;
}

footer .top-row .col-right ul li .btn {
    background-color: #dadee0;
    color: #32495b;
    padding: 15px 15px;
    border: none;
    margin: 15px 0;
}

footer .top-row .col-right ul .social-line {
    display: inline-block;
}

footer .top-row .col-right ul li .social {
    font-size: 20px;
    color: white;
    margin-right: 30px;
}

/* Middle Row */
footer .middle-row ul {
    text-align: center;
}

footer .middle-row ul li {
    display: inline-block;
}

footer .middle-row ul li .language {
    color: #cbd6e2;
    text-decoration: none;
    padding: 0px 20px;
}

.middle-row {
    margin-top: 60px;
}

/* Bottom Row */
footer .bottom-row .col-left img {
    width: 150px;
    display: block;
}

footer .bottom-row .col-left .text {
    color: white;
    padding-top: 10px;
}

footer .bottom-row .col-right ul {
    text-align: right;
}

footer .bottom-row .col-right ul li {
    display: inline-block;
    padding-right: 20px;
}

.bottom-row {
    margin-top: 50px;
    border-top: 2px solid white;
}

.bottom-row .col-left,
.bottom-row .col-right {
    padding-top: 40px;
}