/* RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #33475b;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.container-big {
    width: 80%;
    margin: auto;
}

.container-small {
    width: 70%;
    margin: auto;
}

ul {
    list-style-type: none;
}

.btn {
    display: inline-block;
    border: 1px solid darkorange;
    padding: 11px 7px;
    background-color: darkorange;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

a {
    color: #33475b;
}

.chevron {
    padding-left: 5px;
}

.text {
    color: #33475b;
    font-size: 14px;
}

.uppercase-text {
    text-transform: uppercase;
    font-weight: bold;
}

/* two col */
.two-col {
    float: left;
    width: 50%;
}

/* three col */
.three-col {
    float: left;
    width: 30%;
}

/* HEADER */
.wrapper {
    background-color: #e6e6e6;
    border-bottom: 1px solid black;
    padding: 25px 0;
}

/* Nav Top */
header .menu li {
    display: inline-block;
    padding-left: 20px;
    
}

header .menu li a {
    text-decoration: none;
}

.login {
    border: 1px solid darkorange;
    padding: 11px 7px;
    background-color: white;
    border-radius: 5px;
    color: darkorange;
}

.menu-right {
    text-align: right;
}

.search-font {
    color: cyan;
}

/* Nav Bottom */
header .logo img {
    width: 15%;
}

.nav-bottom {
    padding: 25px;
}

.nav-bottom .menu-right li {
    padding-top: 12px;
}

/* Banner */
.banner {
    background-color: #fef6ef;
    background-image: url("../img/jumbotron.png");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    position: relative;
}

.cyan-row {
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: #adebe4;
    height: 77px;
    width: 30%;
    border-top: 3px solid #354a5d;
    border-bottom: 3px solid #354a5d;
}

/* Text Banner */
.banner-text {
    width: 40%;
    padding-top: 90px;
}

.banner .banner-text h1 {
    font-size: 50px;
}

.banner .banner-text .text {
    padding: 25px 0;
}

.banner-text .text:last-child {
    font-size: 12px;
}

/* MAIN */
/* Main Top */
.main-content-top {
    background-color: #e6e6e6;  
}

.main-top {
    text-align: center;
    padding: 40px 0;
}

.container-big .main-top img {
    height: 160px;
    width: auto;
}
.container-big .main-top .text {
    padding: 20px 0;
}

/* Content Box */
.content-box {
    background-color: white;
}

.content-box .box-img {
    height: 150px;
}

.content-box .box-img img {
    height: 100%;
    padding: 20px 0;
}

.content-box .col-left {
    text-align: center;
    width: 30%;
    margin: 35px 0;
}

.content-box .col-right {
    width: 70%;
    margin: 60px 0;
}

.content-box .uppercase-text {
    display: inline-block;
}